.slideshow-container {
  position: relative;
  float: left;
  width: 100%;
}

.aeisliders {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.aeisliders li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.aeisliders img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}
.slider-menu {
  text-align: center;
}
.aeisliders .caption {
  position: absolute;
  top: 35%;
  left: 250px;
  z-index: 2;
  right: auto;
  text-align: center;
}
.slider-text .caption-description {
  display: block;
  margin: 20px 0;
}
.slider-text h2 {
  margin: 0;
  text-align: center;
  color: #000000;
  font-size: 68px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: top;
  text-transform: capitalize;
}
.slider-text1{
  color: #fdbc20;
  font-size: 82px;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 1.64px;
  font-family: 'Dosis', sans-serif;
}
.slider-btn {
  position: absolute;
  top: -50px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  font-size: 30px;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0;
  font-style: italic;
}
.slider-btn a{
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.66px;
}
.aeisliders li:nth-child(2) .caption {
  right: 250px;
  left: auto;
  text-align: center;
}
.slider-text .slider-desc {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  position: relative;
}
.slider-text .caption-description p {
    margin: 42px 0 0;
    float: none;
}
.slider-text .btn {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 0.56px;
  padding: 8px 28px;
  border-radius: 5px;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: top;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.slider-text .btn:hover{
  background-color: #000000;
  color: #ffffff;

}
.aeisliders_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top:50%;
  left: 0;
  opacity: 0;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height:35px;
  width:35px;
  background: transparent url("../homeslider.gif") no-repeat left top;
  border-radius: 50%;
  border: 2px solid #999999;
}
.slider-menu:hover .aeisliders_nav.prev {
    left: 30px;
}
.slider-menu:hover .aeisliders_nav.next {
    right: 30px;
}
.slider-menu:hover .aeisliders_nav {
    opacity: 1;
}

.aeisliders_nav:active {
  opacity: 1.0;
}

.aeisliders_nav.next {
  left: auto;
  right: 15px;
  background:transparent url("../img/slider-next.svg") no-repeat scroll center/20px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.aeisliders_nav.next:hover {  
	background-image: url("../img/slider-next-hover.svg");
  border: 2px solid #000000;
}

.aeisliders_nav.prev {
  left:15px;
  right:auto;
  background:transparent url("../img/slider-prev.svg") no-repeat scroll center/20px;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
.aeisliders_nav.prev:hover { 
	background-image: url("../img/slider-prev-hover.svg");
  border: 2px solid #000000;
}
.aeisliders_tabs {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  display: none;
}
.aeisliders_tabs li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  font-size: 0;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.aeisliders_tabs li.aeisliders_here{
  background-color: #000000;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.aeisliders_tabs li a {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    line-height: 15px;
}
@media (max-width: 1449px){
  .slider-text h2{font-size: 55px;}
}
@media (max-width: 1199px){
  .aeisliders .caption{left: 150px;}
  .aeisliders li:nth-child(2) .caption{right: 150px;}
}
@media (max-width: 991px){
  .aeisliders li:nth-child(2) .caption{
    right: 108px;
  }
  .aeisliders li:nth-child(3) .caption{
    left: 105px;
  }
  .slider-text h2 {
      font-size:36px;
  }
  .aeisliders .caption {
      left: 128px;
  }
  .slider-text .caption-description{
    margin: 10px 0;
  }
  .slider-btn{
    top: -30px;
    font-size: 16px;
  }
  .slider-text .slider-desc{
    font-size: 12px;
  }
  .slider-text .caption-description p{
    margin-top: 25px;
  }
  
  #slideshow{
    width: 100%;
    float: none;
    margin: 0;
  }
  .slider-menu {
      position: relative;
      z-index: 0;
  }
}
@media (max-width: 767px){
  .aeisliders_nav.prev, .aeisliders_nav.next {
      display: none;
  }
  .aeisliders_tabs {
      display: block;
      margin-bottom: 5px;
  }
  .slider-text h2 {
      font-size: 28px;
  }
  .aeisliders li:nth-child(2) .caption{
    right: 50px;
  }
  .aeisliders li:nth-child(3) .caption{
    left: 45px;
  }
  .aeisliders .caption {
      left: 80px;
  }
  .slider-text .caption-description p{
    margin-top: 15px;
  }
}
@media (max-width:575px){
  .slider-text .slider-desc{
    display: none;
  }
  .slider-text .caption-description{
    margin: 0;
  }
}
@media (max-width: 479px){
  .slider-btn{display: none;}
  .slider-text h2 {
      font-size: 18px;
  }
  .aeisliders .caption {
      left: 60px;
  }
  .slider-text .btn{
    font-size: 12px;
    line-height: 20px;
    padding: 4px 20px;
  }
  .slider-text .caption-description p{
    margin-top: 7px;
  }
}
@media (max-width: 420px){
  .aeisliders .caption {
      left: 40px;
      top: 20%;
  }
}
@media (max-width:360px){

  .slider-menu {
      padding: 0;
  }
  .slider-menu .container {
      padding: 0;
  }
}
